# Linked folders
/messages/

/bin/

.project
/.gradle/
.project

#Intellij
.idea

#gradle
build
.gradle
!gradle-wrapper.jar

# Eclipse settings
.classpath
.project
.settings/org.eclipse.jdt.core.prefs

# Ignore log folder
/logs/